html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: publicsans;
}

body {
    background-color: ghostwhite;
}

@font-face {
    font-family: publicsans;
    src: url(./font/PublicSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: publicsans;
    src: url(./font/PublicSans-Bold.ttf);
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.head {
    font-size: 30px;
    color: ghostwhite;
    display: table-cell;
    padding-top: 5px;
}

.headbanner {
    width: 100%;
    height: 150px;
    background-color: rebeccapurple;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    box-sizing:border-box;
}


.image {
    width: 5%;
    margin-right: 20px;
}

.navbar {
    padding-left: 10rem;
    padding-top: 13px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
    box-sizing: border-box;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background:#BDC3C7;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #0e3959;
    font-weight: 500 bold;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: red;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder {
    color: #999;
}

.info{
    background: #0e3959;
}

.info h3{
    color:#fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci{
    margin-top: 40px;
    display: flex;
    padding: 0;
}

.sci li{
    list-style: none;
    margin-right: 25px;
}

.sci li a{
    color:#fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover{
    color: #fff;
}

.map{
    padding: 0;
}

.map iframe{
    width:100%;
    height: 100%;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: #99A3A4;
    color: black;
    margin-top: auto;
}





